@import url('https://fonts.googleapis.com/css?family=Raleway');

$color: blue;

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

  body {
    background-color: #a9d7d1;
    font-family: 'Raleway', sans-serif;
  }

  h1, h2, h3 {
    text-align: center;
    padding-top: 1em;
  }

  p {
    text-align: center;
    padding-top: 2em;
    font-weight: 500;
  }

  fieldset {
    border: 0;
    //padding-left: 10em;
    legend {
      text-align: left;
      padding-bottom: 1em;
      padding-top: 1em;
    }
  }

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #formArea {
    width: 80%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border-radius: 5px;
  }

  .description-container {
    width: 100%;

    .label {
      width: 100%;
      display: block;
    }

    .input-box {
      display: block;
      margin-top: 1em;
      width: 80%;
      height: 2em;
      padding-left: .3em;
      margin-left: .5em;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  select {
    height: 2.5em;
    background-color: #D3D3D3;
    padding: .3em;
    width: 40%;
    margin-left: .5em;
  }

  input[type="checkbox"] {
    margin-bottom: 1em;
  }

  textarea {
    color: grey;
    padding: .3em;
    margin-left: .5em;
    margin-bottom: 0;
  }

  button {
    background-color: #59ace0;
    color: snow;
    height: 40px;
    width: 96px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }

  .button-container {
    padding-top: .5em;
    padding-bottom: 1.5em;
  }


}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 521px) {

  .description-container {
    width: 100%;
    display: inline-block;

    .label {
      width: 45%;
      display: inline-block;
      float: left;
      text-align: right;
      //vertical-align: top;
      //background-color: red;
      height: 2em;
      line-height: 2em;

    }

    .input-box {
      display: inline-block;
      margin-top: 1em;
      width: 40%;
      margin-left: 1em;
      margin-top: 0;
      margin-bottom: 1em;
      vertical-align: middle;
      //background-color: yellow;
    }

  }

  .content-right {
    width: 55%;
    display: block;
    float: right;
    //background-color: yellow;
  }


  fieldset legend {
    padding-top: 0;
  }

  legend {
    width: 40%;
    display: inline-block;
    //background-color: blue;
    float: left;
  }


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
